<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">6日前</th>
      <th scope="col">5日前</th>
      <th scope="col">4日前</th>
      <th scope="col">3日前</th>
      <th scope="col">2日前</th>
      <th scope="col">1日前</th>
      <th scope="col">今日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= book_count_6days_ago %></td>
      <td><%= book_count_5days_ago %></td>
      <td><%= book_count_4days_ago %></td>
      <td><%= book_count_3days_ago %></td>
      <td><%= book_count_2days_ago %></td>
      <td><%= book_count_1days_ago %></td>
      <td><%= book_count_today %></td>
    </tr>
  </tbody>
</table>